.idea/
ResNet/.idea/
ResNet/__pycache__/
ResNet/models/__pycache__/
ResNet/preprocess/__pycache__/
ResNet/datasets/__pycache__/
ResNet/tmp/
ResNet/tools/__pycache__/
ResNet/resnet_model/models/__pycache__/
Dataset/*
Preprocess/*.pkl
Preprocess/y_values.txt
.vscode/
Preprocess/subjects/*